{% extends "crud/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get" autocomplete="off">
                <div class="row">
                    <div class="col-md-4">
                        {{myFilter.form.name|as_crispy_field}}
                    </div>
                    <div class="col-md-4">
                        {{myFilter.form.surname|as_crispy_field}}
                    </div>
                    <div class="col-md-4">
                        {{myFilter.form.email|as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {{myFilter.form.start_salary|as_crispy_field}}
                    </div>
                    <div class="col-md-3">
                        {{myFilter.form.end_salary|as_crispy_field}}
                    </div>
                    <div class="col-md-3">
                        {{myFilter.form.cname|as_crispy_field}}
                    </div>
                    <div class="col-md-3">
                        {{myFilter.form.phone|as_crispy_field}}
                    </div>
                </div>
                <button class="btn btn-lg btn-primary" type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-borderless">
                <thead class="border-bottom font-weight-bold">
                    <tr>
                        <td>Name</td>
                        <td>Surname</td>
                        <td>Salary</td>
                        <td>Phone Number</td>
                        <td>Country</td>
                        <td>Email</td>
                        <td>
                            <a href="{% url 'user_insert' %}" class="btn btn-outline-success">
                                <i class="fas fa-plus"></i>
                                Add New
                            </a>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.name}}</td>
                        <td>{{user.surname}}</td>
                        <td>{{user.salary}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.cname}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <a href="{% url 'user_update' user.email %}" class="btn text-secondary px-0">
                                <i class="far fa-edit fa-lg"></i>
                            </a>
                            <form action="{% url 'user_delete' user.email %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn">
                                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}