{% extends "crud/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="jumbotron">
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        {{form|crispy}}
        <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-success btn-block btn-lg">
                    <i class="fas fa-user-plus"></i> Submit
                </button>
            </div>
            <div class="col-md-4">
                <a href="{% url 'user_list' %}" class="btn btn-secondary btn-block btn-lg">
                    <i class="fas fa-stream"></i> Back to Users List
                </a>
            </div>
        </div>
    </form>
</div>
{% endblock content %}